.drop-down-menu{
    display: flex;
    width: 100%;
    content: "";
    background-color: #fafafa;
    border-top: 3px solid transparent;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    position: absolute;
    z-index: 1000;
}
.container-menu{
    position: absolute;
    top: 42px;
    left: 0px;
    width: 100%;
    text-transform: none;
}
.sub-menu-left{
    width: 20%;
}
.sub-menu-left a{
    line-height: 24px;
    font-weight: 600;
    font-size: 12px;
}
.sub-menu-right{
    width: 80%;
    min-height: 250px;
    padding: 20px;
    text-align: left;
}
.card{
    width: 25%;
    display: inline-block;
    padding: 0px 10px;
    font-size: 13px;
    vertical-align: top;
}
.img-post-item{
    width: 100%;
    vertical-align: text-top;
    margin-bottom: 7px;
}
.post-item-title{
    text-align: left;
    color: inherit;
    line-height: 18px;
    height: 36px;
    margin-bottom: 5px;
}
.post-item-title span{
    font-size: 12px;
}
.post-meta{
    margin-top: 12px;
    text-align: left;
}
.post-meta span{
    font-size: 11px;
    color: #999;
    margin-right: 7px;
    line-height: normal;
}