.top-bar{
    background-color: #161616;
    width: 100%;
    padding: 4px 0;
    color: #c4c4c4;
}
.top-bar{
    list-style-type: none;
}
.top-menu{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.top-menu ul{
    list-style: none;
    padding: 0px 15px;
}
.top-menu-li{
    display: inline-block;
    padding: 0px 15px;
    font-size: 12px;
    height: 30px;
    color: #c4c4c4 !important;
    line-height: 30px;
}
.top-menu-li:hover{
    color: #fff !important;
}
.seperate{
    padding: 0px !important;
}
.icon-topbar{
    padding-right: 5px;
    padding-left: 5px;
}
.list-language{
    position: absolute;
    top: 36px;
    right: -45px;
    border: 1px solid #e6e6e6;
    min-width: 170px;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-color: #fff;
    z-index: 9999;
}
.list-language ul{
    padding: 0px !important;
}
.list-language li{
    display: block;
    color: #606060;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}
.list-language li:hover{
    background-color: rgb(4, 148, 177, 0.14)!important;
}
.top-bar-right{
    position: relative;
}