.container-ticker {
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    text-align: left;
    font-size: 13px;
    display: flex;
    position: relative;
}
.meida-icon .small{
    width: 30px;
    height: 30px;
}
.voting-poll-item{
    text-align: left;
}
.content-item{
    display: flex;
}
.page-title{
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 30px;
    font-size: 26px;
    line-height: 26px;
    font-weight: 400;
    text-align: left;
}
.name-page{
    text-align: left;
    vertical-align: middle;
    padding-left: 30px;
    line-height: 63px;
    color: #888;
    font-size: 13px;
}
.box-wrap{
    display: inline-block;
    border: 1px solid #999;
}
.meida-icon .small svg{
    width: 12px!important;
    height: 12px!important;
}
/* .lazyload-wrapper{
    height: 100px; */
/* } */
.animationload {
    background-color: #fff;
    text-align: center;
    height: 100px;
    width: 100%;
    z-index: 10000;
}
.custom-checkbox input:checked + .box{
    background-color: #b5852e;
}
.box{
    padding: 5px 15px;
    background-color: #85d6de;
    position: relative;
}
.custom-checkbox ::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}
.custom-checkbox{
    line-height: 50px;
}
.a-view-results{
    margin-left: 25px;
}
.answer{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}
.voting-poll-item{
    margin-bottom: 25px;
}
.question{
    margin-bottom: 5px;
}
.check-box,.check-box-1{
    line-height: 48px;
    vertical-align: middle;
}
.from-login{
     position: relative;
}
.notification{
    position: absolute;
    top: 50px;
    padding: 5px 10px;
    border: 1px solid #887a7a;
    background-color: #fff;
    border-radius: 5px;
}
.password{
    top: 105px
}
.notification::after{
    content: "";
    top: -10px;
    left: 12px;
    position: absolute;
    border-style: solid;
    border-width: 0px 10px 10px 10px;
    border-color: #fff transparent;
}
.notification::before{
    content: "";
    top: -12px;
    left: 12px;
    position: absolute;
    border-style: solid;
    border-width: 0px 11px 11px 11px;
    border-color: #6462629a transparent;
}
.notification .icon{
    padding: 3px 10px;
    display: inline-block;
    background-color: #e8a851d9;
    margin-right: 6px;
    color: #fff;
}
.voting-poll{
    margin-top: 20px;
}
.osahanloading {
    position: relative;
    display: inline-block;
    animation: 1.5s linear 0s normal none infinite running osahanloading;
    background: #fed37f none repeat scroll 0 0;
    border-radius: 50px;
    height: 25px;
    margin-left: -25px;
    margin-top: -25px;
    width: 25px;
    bottom: 80px;
}
.modal-voted{
    position: relative;
}
.modal-voted h2{
    text-align: center;
}
.icon-google{
    background-color: #c9412b;
    border: 1px solid #c9412b;
}
.p-auth-modal-or{
    padding: 10px 0px;
    text-align: center;
    color: #1c2125db;
}
.bnt-close{
    position: absolute;
    right: -16px;
    top: -23px;
    font-family: "Roboto", Helvetica, sans-serif;
}
.from-login input:focus{
    outline: none;
    border: 1px solid #18aa8d!important;
}
.from-login input{
    display: block;
    width: 100%;
    box-shadow: none!important;
    border: 0;
    outline: none!important;
    color: #494949;
    height: 40px;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 20px;
    box-shadow: none;
    border-radius: 2px;
    border: 1px solid #8e8f9e85;
    margin-bottom: 15px;
}
.check-box-1{
    padding-top: 0px;
}
.check-box-1 input{
    height: 0px;
    margin: 0px;
}
.button-login svg{
    color: #fff!important;
    font-size: 21px;
    width: 2.3rem!important;
    border-right: 1px solid rgba(0,0,0,0.15);
    margin-right: 10px;
}
.button-login{
    margin-bottom: 5px;
    color: #fff;
    font-weight: 300;
    padding: 10px 70px 10px 10px;
    border-radius: 4px ;
}
.button-login:hover{
    opacity: 0.9;
}
.post-login{
    margin-top: 15px;
    text-align: center;
    width: 100%;
    padding: 8px 0px;
    color: #fff;
    border-radius: 3px;
}
.forgot{
    color: inherit;
}
.post-login:hover{
    opacity: 0.8;
}
.modal-title{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #222;
}
.bnt-close button{
    border: 0px;
    font-size: 25px!important;
    color: #14151430;
    background-color: transparent;
}
.bnt-close ::after{
    display: inline-block;
    content: "\2715"; /* This will render the 'X' */
  }
.bnt-close svg{
    font-size: 25px!important;
}
.random-posts .react-slideshow-container .default-nav svg{
    fill: antiquewhite;
}
.tags{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 60px;
} 
.tags-item{
    padding: 8px 10px;
    margin-right: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 0.1px;
}
.style1{
    /* position: fixed; */
    overflow: hidden;
    padding-right: 17px;
}
.ReactModal__Overlay--after-open{
    z-index: 10000;
    background-color: rgb(255 255 255 / 25%)!important;
}
.style2{
    position: relative;
}
.osahanloading::after {
    animation: 1.5s linear 0s normal none infinite running osahanloading_after;
    border-color: #b5852e transparent;
    border-radius: 61px;
    border-style: solid;
    border-width: 10px;
    content: "";
    height: 43px;
    left: -20px;
    position: absolute;
    top: -19px;
    width: 43px;
}
 
@keyframes osahanloading {
0% {
    transform: rotate(0deg);
}
50% {
    background: #85d6de none repeat scroll 0 0;
    transform: rotate(180deg);
}
100% {
    transform: rotate(360deg);
}
}
.content{
    padding: 0px 15px 0px 0px;
}
.slide-bar{
    padding: 0px 0px 0px 15px;
}
.nav-tabs ul{
    display: flex;
}
.nav-tabs ul li{
    display: inline-block;
    flex: 1;
    cursor: pointer;
}
.popular-posts{
    padding-top: 15px;
}
.ticker-left{
    display: inline-block;
    background-color: #161616;
    color: #fff;
    padding: 8px 10px;
}
.ticker-left span{
    text-transform: uppercase;
}
.slide-bar-header{
    background-color: #161616;
    line-height: 1;
    text-align: left;
}
.slide-bar-header .title{
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
    padding: 8px 15px;
}
.ticker-right{
    display: inline-block;
    padding-left: 15px;
    height: 31px;
    overflow: hidden;
    
}
.follow-us{
    text-align: left;
    margin-top: 25px;
    margin-bottom: 5px;
}
.follow-us a{
    width: calc(50% - 5px);
    text-align: left;
    height: 40px;
    padding-left: 20px;
    margin-bottom: 10px;
}
.img-post-item-small{
    position: relative!important;
    text-align: center;
}
.content-margin{
    margin-right: 12px;
}
.img-post-item-small span{
    left: 50%;
    width: 38px;
    height: 38px;
    border: 3px solid #f0f0f0;
}
.img-post-item-small svg{
    width: 15px;
    height: 15px;
}
.follow-us a:hover{
    opacity: 0.7;
}
.content-videos-top-small{
    height: auto!important;
}
.slide-item-small{
    height: 216px;
    margin-top: 20px;
}
.category-label-small{
    top: 100px;
}
.caption-small-ramdom .title{
    color: inherit;
}
.slide-item-small .caption .title{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 5px;
    height: 52px;
    overflow: hidden;
}
.caption-small{
    position: absolute;
    padding: 5px 10px;
    bottom: 0px;
}
.post-meta-small{
    margin-top: 0px!important;
}
.follow-us span{
    font-size: 13px;
    padding-left: 20px;
}
.icon-left{
    margin-right: 10px;
}
.post-meta-item{
    margin-top: 0px!important;
}
.nav-tabs{
    margin-bottom: 25px;
}
.ticker-right ul{
    position: relative;
}
@keyframes tikerDown{
    from{transform: translateY(-31px);}
    to{transform: translateY(0px);}
}
.ticker-icon-btn{
    position: absolute;
    top: 0px;
    right: 30px;
}
.ticker-bnt-next,.ticker-bnt-prev{
    display: inline-block;
    padding: 8px 10px;
    color: #777!important;
    border: 1px solid #ddd;
    border-radius: 2px;
    font-size: 11px;
    cursor: pointer;
}
.ticker-bnt-next{
    margin-right: 10px;
}
.section-right{
    margin-bottom: 30px;
}
.content-videos-top{
    width: 100%;
    height: 422px;
    overflow: hidden;
    margin-bottom: 20px;
}
.content-videos-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.title-post-item{
    margin-top: -4px;
    line-height: 22px;
    height: 44px;
    font-weight: 500;
    overflow: hidden;
    color: rgb(34,34,34);
}
.content-left{
    width: 50%;
    margin-right: 15px;
}
.img-post-item img{
    width: 100%;
}
.section-tab-content{
    display: flex;
}
.section-tab-videos{
    display: block;
}
/* .post-item{
} */
@keyframes tickerUp{
    from{transform: translateY(0px);}
    to{transform: translateY(-31px);}
}
.ticker-right ul{
    transform: translateY(-31px);
}
.ticker-right li{
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}
.main{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
}
.content{
    width: 66%;
}
.section-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.section-title{
    text-transform: uppercase;
    color: #fff;
    padding: 0px 15px;
    font-size: 14px;
    line-height: 26px;
}
.description{
    line-height: 22px;
    height: 44px;
    overflow: hidden;
    font-weight: 400;
    color: #777;
    font-size: 13px;
}
.content-right{
    width: 50%;
}
.load-more{
    cursor: pointer;
}
.load-more span{
    display: block;
    padding: 10px 0px;
    border: 1px solid #9e9999;
    border-radius: 3px;
    width: 100%;
    font-weight: 500;
}
.section-last-post{
    display: block;
}
.section-tab .active{
    color: #333;
}
.post-item{
    margin-bottom: 20px;
    text-align: left;
}
.slide-bar-item{
    width: 100%;
}
.post-meta{
    margin-bottom: 10px;
}
.post-meta svg{
    margin-right: 3px;
}
.section-tab li{
    color: #999;
    cursor: pointer;
}
.section-tab li{
    display: inline-block;
    list-style-type: none;
    padding: 0 5px;
}
.slide-bar{
    width: 33%;
}
.img-container-small{
    position: absolute;
    top: 5px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
.img-wrap{
    position: relative;
}
.random-posts{
    padding-top: 20px;
}
.random-posts .react-slideshow-container .default-nav:last-of-type {
    top: 14px;
    position: absolute;
    right: 20px;
    opacity: 0.4;
}
.random-posts .react-slideshow-container .default-nav:first-of-type {
    top: 14px;
    left: calc(100% - 110px);
    border-right: 0;
    border-top: 0;
    position: absolute;
    opacity: 0.4;
}
.random-posts .react-slideshow-container .default-nav {
    height: 40px;
    background: #5d94a0;
    width: 40px;
    border: 0;
    text-align: center;
    cursor: pointer;
    color: #fdf3f3;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.random-posts .react-slideshow-container .default-nav:hover{
    opacity: 1;
}
.caption-small .description{
    text-align: left;
}
.caption-small .title{
    color: #222;
    line-height: 28px;
    height: 56px;
    overflow: hidden;
}
.caption-small-ramdom{
    position: relative;
    padding: 0px;
    text-align: left;
    margin-bottom: 20px;
}
.img-container-small img{
    height: auto;
}
.img-link-small img{
    height: auto;
}
@media only screen and (min-width: 992px){
.container-ticker {
    padding-left: 20px!important;
    padding-right: 20px!important;
}
}
@media only screen and (min-width: 1200px){
.container-ticker {
    padding-left: 30px!important;
    padding-right: 30px!important;
}
}